@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
    min-height: 100%;
    padding-bottom: 80px;
}

*{
    font-family: Signika Negative;
}



.navbar-brand img{
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -100px;
}

.nav-item a{
    color: #00448c;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
}

.nav-item a:hover{
    color: #00448c;
    text-shadow: #00448c 1px 0 10px;
    transition: 0.3s;
}

.navbar-nav .nav-link.active{
    color: #00448c;
    text-shadow: #00448c 1px 0 10px;
}


/*PAGINA EMPRESA*/
.sobreVebma{
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}

.sobreVebma h2{
    font-weight: bold;
    color: #00448c;
    font-size:45px
}

.sobreVebma hr{
    border: 5px solid #00448c;
    opacity: 100;
}

/*CLIENTES*/

.containerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    border: 5px solid #00448c;
    opacity: 100;
}

.clientes{
    font-size: 30px;
    text-align: center;
    color: #00448c;
}




/*REDES SOCIAIS*/

.redesSociais{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.redesSociais a{
    padding-right: 15px;
    text-decoration: none;
    color: #00448c;
    transition: 0.3s;
}

.redesSociais a:hover{
    font-size: 20px;
    transition: 0.3s;
}

.redesSociais a i{
    font-size: 36px;
}
/*Rodapé*/

.page-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #212529;
}

.page-footer .footer-copyright{
    padding: 20px 0;
}

.footer-copyright *{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-copyright a:hover{
    color:#00448c;
    text-shadow: #00448c 1px 0 10px;
    transition: 0.3s;
}

.right{
    float:right;
}