<div class="sobreVebma">
    <h2>clientes</h2>
    <hr>
</div>
<section>
    <div class="containerFlex">
        <div>
            <img src="img/logoWalmart.png" width="300px">
        </div>
        <div>
            <img src="img/logoFort.png" width="300px">
        </div>
        <div>
            <img src="img/logoCarrefour.jpg" width="300px">
        </div>
        <div>
            <img src="img/logoPaoDeAcucar.png" width="300px" alt="">
        </div>
    </div>
    <hr class="linha">
    <p class="clientes">Os maiores supermercados do Brasil são clientes VEBMA</p>
</section>
<section class="avaliacoes">
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="card" style="width: 100%;">     
                <div class="card-body">
                    <p class="card-text"><h3>Fort Atacadista</h3><p>&#11088;&#11088;&#11088;&#11088;&#11088;</p> Sempre batemos record de vendas, empresa super prestativa. Sempre um prazer trabalhar com seus produtos...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-12">
            <div class="card" style="width: 100%;">               
                <div class="card-body">
                    <p class="card-text"><h3>Walmart</h3><p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>Organização e prestatividade, melhor empresa com quem ja trabalhamos...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-12">
            <div class="card" style="width: 100%;">            
                <div class="card-body">
                    <p class="card-text"><h3>Pão de Açúcar</h3><p>&#11088;&#11088;&#11088;&#11088;&#11088;</p> Os melhores no que fazem, parabéns pela dedicação em todos os ambitos...</p>
                </div>
            </div>
        </div>
    </div>
</section>


