<h2>contato</h2>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="digite seu nome...">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contato</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(XX)XXXXX-XXXX">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  </div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button>Enviar</button>