<div class="sobreVebma">
    <h2>Sobre a VEBMA</h2>
    <p>Princípios</p>
    <hr>
</div>
<div class="row">
    <div class="col-sm-3 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/funcionarios.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><h3>Funcionários</h3> A VEBMA sabe da importância de seus colaboradores, validada como "Great Place to Work" 5 anos consecutivos, queremos ter um espaço acolhedor para quem move a empresa... Assim sendo, diversidade não faltará, muita cultura e respeito principalmente...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/caminhao-ambev.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><h3>Logística</h3> Com muita dedicação e estudo, conseguimos aumentar consideravelmente a eficiência de nossos envios, além de reduzir a quantidade de viagens, estamos nos aproximando cada vez mais da meta de redução de emissão de CO2...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/funcionario-entrega.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><h3>Clientes</h3>Firmamos laços com nossos clientes como um ato de fidelidade e agradecimento pela confiança em nosso trabalho e produtos... </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/sustentabilidade.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><h3>Sustentabilidade</h3>Possuimos diversos projetos de sustentabilidade, baseado na premissa de diminuir a emissão de gases poluentes, consumo de água e reciclagem. Queremos ser exemplo para as empresas do ramo...</p>
            </div>
        </div>
    </div>
</div>
</div>