<div class="sobreVebma">
    <h2>produtos</h2>
    <hr>
</div>

<div class="row">
    <div class="col-sm-4 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/cerveja-corona.jpg" class="card-img-top" alt="cerveja corona">
            <div class="card-body">
                <h5 class="card-title">Cerveja Corona 6un</h5>
                <p class="card-text">Cerveja Long Neck Corona, tipo Pilsen 330ml. Fardo com 6 unidades...</p>
                <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/budweiser.png" class="card-img-top" alt="cerveja budweiser">
            <div class="card-body">
                <h5 class="card-title">Cerveja Budweiser 12un</h5>
                <p class="card-text">Cerveja lata Budweiser 350ml, americana, suave, fardo com 12 unidades...</p>
                <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-12">
        <div class="card" style="width: 100%;">
            <img src="img/fardo-guarana.png" class="card-img-top" alt="refrigerante guaraná">
            <div class="card-body">
                <h5 class="card-title">Refrigerante Guaraná 6un</h5>
                <p class="card-text">Refrigerante Guaraná Antarctica 2l, o sabor brasileiro, 6 unidades...</p>
                <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>
</div>